/**
 * Site header
 */
 .site-header {
  border-top: 5px solid $spot-color;
  border-bottom: 1px solid $grey-color-light;
  min-height: 56px;

  // Positioning context for the mobile navigation icon
  position: relative;
}

.site-title {
  font-size: 26px;
  font-weight: 300;
  line-height: 56px;
  margin-bottom: 0;
  float: left;
  font-family: $alt-font-family;
  &,
  &:visited {
    color: $grey-color-dark;
  }
}

.site-nav {
  float: right;
  line-height: 56px;

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: $spacing-unit / 2;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg path {
        fill: $grey-color-dark;
      }
    }

    .trigger {
      clear: both;
      display: none;
    }

    &:hover .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}



/**
 * Site footer
 */
 .site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
  text-align: center;
}

.footer-heading {
  font-size: 18px;
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  font-size: 15px;
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}



/**
 * Page content
 */
 .page-content {
  padding: $spacing-unit 0;
}

.page-heading {
  font-size: 20px;
}

.post-list {
  margin-left: 0;
  margin-top:1em;
  float:left;
  list-style: none;
  .post-info {
    padding: .5em;
  }
  > li {
    margin-bottom: $spacing-unit;
    margin-right: 18px;
    margin-top: 2em;
    width: 350px;
    height: 355px;
    border: 1px solid $grey-color-light;
    -webkit-box-shadow: 2px 2px 0px 0px $grey-color-light;
    -moz-box-shadow: 2px 2px 0px 0px $grey-color-light;
    box-shadow: 2px 2px 0px 0px $grey-color-light;
    float: left;
    background: white;
    position: relative;
    &:hover {
      background: $spot-color;
    }
    p {
      color: $text-color; 
    }
    h3 {
      margin-bottom: $spacing-unit / 4;
    }
  }
}

.post-list img {
  margin-top:-1.7em;
  margin-right: auto;
  margin-left: auto;
  display:block;
  width: 90%;
  border: 1px solid $grey-color-light;;
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  font-size: $base-font-size*1.5;
  &:hover {
    text-decoration:none;
  }
}

.home section {
  margin-bottom: $spacing-unit * 2;
}

.videoWrapperWrapper{
  display: inline-block;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/**
 * Posts
 */
 .post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  font-size: 42px;
  line-height: 1;

  @include media-query($on-laptop) {
    font-size: 36px;
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  .inline-thumb {
    float:left;
    -webkit-box-shadow: 0px 0px 5px 1px rgba(42,122,226,1);
    -moz-box-shadow: 0px 0px 5px 1px rgba(42,122,226,1);
    box-shadow: 0px 0px 5px 1px rgba(42,122,226,1);
    margin-right: 20px;
  }

  h2 {
    font-size: 32px;

    @include media-query($on-laptop) {
      font-size: 28px;
    }
  }

  h3 {
    font-size: 26px;

    @include media-query($on-laptop) {
      font-size: 22px;
    }
  }

  h4 {
    font-size: 20px;

    @include media-query($on-laptop) {
      font-size: 18px;
    }
  }
}

small {
  padding: .5em 0;
  border-bottom: 1px solid $grey-color-light;
  color: $grey-color-dark;
  font-style: italic;
  display: block;
}

.headshot {
  float: left;
  padding-right: $spacing-unit; 
  padding-bottom: $spacing-unit;
  width:300px;
}

p a {
  font-weight: bold;
}

.post-tags {
  border-top: 1px solid $grey-color-light;
  font-size: $base-font-size/1.2;
  color: lighten($text-color, 30%);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: .5em;
}

section.hero {
  border: 1px solid $grey-color-light;
  border-top-color: $spot-color;
  font-size: $base-font-size*2;
  background: white;
  padding:$spacing-unit;
  margin-bottom:$spacing-unit/2;
  font-family: $alt-font-family;
  p {
    margin-bottom:0;
  }
}