---
layout: default
---

<div class="home">

<!--   <h1 class="page-heading">Portfolio</h1>
-->  
{{ content }}


<section>
  <h2>Current Work</h2>

  <p>I'm currently a product designer at <a href="https://www.codeforamerica.org/">Code for America</a>. Code for America is a national nonprofit that works with municipal governments to improve digital services. I started as a design Fellow in 2016. The fellowship is a selective program that pairs teams experienced technologists with cities on a year long contract. I worked with the Kansas City, MO Health Department, where my team's mission was to improve access to childhood immunization. We were also tasked with introducing city employees to modern, agile software development practices and user-centered design.</p>
  <p>I worked alongside a developer and a project manager. As the sole designer on the team, I participated in all stages of the software development cycle. In addition to leading research, I created all design deliverables, including wireframes, user interface mockups, communications, and marketing materials. </p>
  <ul class="post-list">
    {% for post in site.categories.Fellowship %}
    {% if post.url %}
    <li>
      <a class="post-link" href="{{ post.url | relative_url }}">
        <img src="{{ post.thumbnail }}" />
        <div class="post-info">
          <h3>{{ post.title | escape }}</h3>
          <p>{{ post.description | escape }}</p>
        </div>
      </a>
    </li>
    {% endif %}
    {% endfor %}
  </ul>

  <iframe width="740" height="315" src="https://www.youtube.com/embed/9uTkeJxBJao" frameborder="0" allowfullscreen></iframe>
  <small>Watch my teammate <a href="https://twitter.com/jessunscripted">Jessica Cole</a> talk about our work on stage at the 2016 Code for America Summit!</small>
</section>

<section>
  <p>I've stayed at CfA as a staff member since November. I'm doing similar work now, designing tools to help small business owners connect with government resources.</p>

  <img src="/images/thumbs/small-biz-temp.png">
  <!--     <ul class="post-list">
      {% for post in site.categories.SmallBiz %}
      {% if post.url %}
        <li>
          <a class="post-link" href="{{ post.url | relative_url }}">
          <img src="{{ post.thumbnail }}" />
          <div class="post-info">
            <h3>{{ post.title | escape }}</h3>
            <p>{{ post.description | escape }}</p>
          </div>
        </a>
        </li>
      {% endif %}
        {% endfor %}
      </ul>  -->
    </section>

    <section>
      <h2>Previous Work</h2>
      <ul class="post-list">
        {% for post in site.categories.other %}
        {% if post.url %}
        <li>
          <a class="post-link" href="{{ post.url | relative_url }}">
            <img src="{{ post.thumbnail }}" />
            <div class="post-info">
              <h3>{{ post.title | escape }}</h3>
              <p>{{ post.description | escape }}</p>
            </div>
          </a>
        </li>
        {% endif %}
        {% endfor %}
      </ul>
    </section>



  </div>
