---
layout: default
---

<div class="home">

<!--   <h1 class="page-heading">Portfolio</h1>
-->  
{{ content }}


<section class="hero">
  <p>Designing beautiful, usable, dignified experiences.</p>
</section>

<section>
<!--   <h1>Current Work</h1>

  <p>I'm currently a product designer at <a href="https://www.codeforamerica.org/">Code for America</a>, a national nonprofit that makes government services simple, effective, and easy to use. I started as a design Fellow in 2016. The fellowship is a selective program that pairs teams experienced technologists with cities on a year long project. I worked with the Kansas City, MO Health Department, where my team's mission was to improve access to childhood immunization.</p>
  <p>I worked alongside a developer and a project manager. As the sole designer on the team, I participated in all stages of the software development cycle. In addition to leading research, I created all design deliverables, including wireframes, user interface mockups, communications, and marketing materials. </p>
 -->  <ul class="post-list">
    {% for post in site.categories.Fellowship %}
    {% if post.url %}
    <li>
      <a class="post-link" href="{{ post.url | relative_url }}">
        <img src="{{ post.thumbnail }}"  alt="" />
        <div class="post-info">
          <h3>{{ post.title | escape }}</h3>
          <p>{{ post.description | escape }}</p>
          <div class="post-tags">{{ post.faketag | escape }}</div>
        </div>
      </a>
    </li>
    {% endif %}
    {% endfor %}
  </ul>

  <div class="videoWrapperWrapper">
    <div class="videoWrapper">
      <iframe width="725" height="451" src="https://www.youtube.com/embed/9uTkeJxBJao" frameborder="0" allowfullscreen></iframe>
    </div>
    <small>Watch my teammate <a href="https://twitter.com/jessunscripted">Jessica Cole</a> talk about our work on stage at the 2016 Code for America Summit!</small>
  </div>

</section>

<!-- <section>
  <p>I've stayed at CfA as a staff member since November. I'm doing similar work now, designing tools to help small business owners connect with government resources.</p>

  <img src="/images/thumbs/small-biz-temp.png" alt="Screenshot of some in-process work.">
      <ul class="post-list">
      {% for post in site.categories.SmallBiz %}
      {% if post.url %}
        <li>
          <a class="post-link" href="{{ post.url | relative_url }}">
          <img src="{{ post.thumbnail }}" />
          <div class="post-info">
            <h3>{{ post.title | escape }}</h3>
            <p>{{ post.description | escape }}</p>
            <div class="post-tags">{{ post.faketag | escape }}</div>
          </div>
        </a>
        </li>
      {% endif %}
        {% endfor %}
      </ul> 
    </section> -->

    <section>
<!--       <h2>Previous Work</h2> -->
      <ul class="post-list">
        {% for post in site.categories.other %}
        {% if post.url %}
        <li>
          <a class="post-link" href="{{ post.url | relative_url }}">
            <img src="{{ post.thumbnail }}" alt=""/>
            <div class="post-info">
              <h3>{{ post.title | escape }}</h3>
              <p>{{ post.description | escape }}</p>
              <div class="post-tags">{{ post.faketag | escape }}</div>
            </div>
          </a>
        </li>
        {% endif %}
        {% endfor %}
      </ul>
    </section>

  </div>
