---
layout: default
---

<div class="home">

<!--   <h1 class="page-heading">Portfolio</h1>
-->  
{{ content }}


<section class="hero">
  <p>Designing beautiful, usable, dignified experiences.</p>
</section>

<section>
<!--   <h1>Current Work</h1>-->  
<ul class="post-list">
    {% for post in site.posts %}
    {% if post.url %}
    <li>
      <a class="post-link" href="{{ post.url | relative_url }}">
        <img src="{{ post.thumbnail }}"  alt="" />
        <div class="post-info">
          <h3>{{ post.title | escape }}</h3>
          <p>{{ post.description | escape }}</p>
          <div class="post-tags">{{ post.faketag | escape }}</div>
        </div>
      </a>
    </li>
    {% endif %}
    {% endfor %}
  </ul>

  <div class="videoWrapperWrapper">
    <div class="videoWrapper">
      <iframe width="725" height="451" src="https://www.youtube.com/embed/9uTkeJxBJao" frameborder="0" allowfullscreen></iframe>
    </div>
    <small>Watch my Code for America teammate <a href="https://twitter.com/jessunscripted">Jessica Cole</a> talk about our work on stage at the 2016 Code for America Summit!</small>
  </div>


    </section>

  </div>
